$def with (page)

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Calendar</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom style sheet. -->
    <style>
        .h { display: none; }
        body { padding-top: 30px; }
        label input[type="checkbox"] { min-height: 20px; padding-left: 20px; }
        .symbol {display: inline; max-height: 18px; }
    </style>

    <!-- Scripts -->
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">TSPCal</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/new">New</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

    <div class="row">
        $:page
    </div>

    <div class="row">
        <div class="span12 text-center lead">
            <a href="http://twitter.github.io/bootstrap/index.html">Bootstrap</a> |
            <a href="http://python.org">Python</a> |
            <a href="http://webpy.org">Web.py</a>
        </div>
    </div> <!-- footer -->
</div> <!-- container -->

</body>
</html>
