$def with (date_obj, cal, year, month, events)

$code:
    today = date_obj.today()
    first_day = date_obj.weekday(date_obj(year, month, 1)) + 1
    if first_day is 7:
        first_day = 0
    first_day_str = {0: "sun", 1: "mon", 2: "tue", 3: "wed", 4: "thu", 5: "fri", 6: "sat"}[first_day]
    # Sudnay is 6, so start on Sunday.
    cal2 = cal.Calendar(6)
    month_iter = list(cal2.itermonthdays(year, month))


<div class="col-md-12">
    <table style="width: 100%;">
        <tbody>
            <tr>
                <th style="width: 14%;">
                    <div class="btn-group pull-left">
                        <a class="btn btn-default" href="/$(year - 1)/$month">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="btn btn-default" href="/$year/$(month - 1)">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                    </div>
                </th>

                <th style="width: 72%">
                    <h1 class="text-center">$cal.month_name[month] - $year</h1>
                </th>

                <th style="width: 14%;">
                    <div class="btn-group pull-right">
                        <a class="btn btn-default" href="/$year/$(month + 1)">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                        <a class="btn btn-default" href="/$(year + 1)/$month">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </th>
            </tr>
        </tbody>
    </table>
</div>

<div class="col-md-12">
    $# Create the table
    <table class="table table-bordered" id="cal">
        <thead>
            <tr>
                <th style="width: 14%">Sunday</th>
                <th style="width: 14%">Monday</th>
                <th style="width: 14%">Tuesday</th>
                <th style="width: 14%">Wednesday</th>
                <th style="width: 14%">Thursday</th>
                <th style="width: 14%">Friday</th>
                <th style="width: 14%">Saturday</th>
            <tr>
        </thead>
        <tbody>
            <tr style="height: 90px">
            $ count = 0

            $for i, d in enumerate(month_iter):
                $if today.day == d and today.month == month and today.year == year:
                    <td id="day$i" style="background: #DFECFF;">
                $else:
                    <td id="day$i">

                $if d != 0:
                    <div style="width: inherit;"><b>$d</b></div>
                $for event in events:
                    $if d == event.day and month == event.month and year == event.year:
                        <a href="#" class="event" data-toggle="popover" data-title="$event.title" data-html="true" data-content="<p><b>$event.time</b> on <b>$event.date</b> at <b>$event.location</b></p><p>$event.details</p><a class='btn btn-danger' data-toggle='modal' href='#delete$event.id'>Delete Event</a>" data-placement="auto">$event.title</a>
                        <div class="modal fade" id="delete$event.id" tabindex="-1" role="dialog" aria-labelledby="delete$event.id" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">Delete "$event.title"?</h4>
                                    </div>

                                    <div class="modal-body">
                                        <p>Do you really want to delete $event.title?</p>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <a class="btn btn-danger" href="/delete/$event.id">Really Delete Event</a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->

                </td>
                $ count += 1
                $if count % 7 is 0:
                    </tr>
                    $if i != len(month_iter) - 1:
                        <tr style="height: 100px">
            </tr>
        </tbody>
    </table>
    <script>
        jQuery("a.event").popover();

        jQuery(document).ready(function(){
            jQuery('#cal').bind('mousewheel', function(e){
                if(e.originalEvent.wheelDelta /120 > 0) {
                    window.location = '/$year/$(month - 1)'
                }
                else{
                    window.location = '/$year/$(month + 1)'
                }
            });
        });
    </script>
</div>
